html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#fdf7ea, #faeed1, #ded0b6, #bbab8c);
    background-size: cover;
    min-height: 100%;
    margin: 0;
    font-size: 14px; /* Muutettu mobiiliystävälliseksi */
}

.sivu {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'Navi Navi Navi Navi Navi Navi'
    'Esittelyteksti Esittelyteksti Esittelyteksti Omakuva Omakuva Omakuva'
    'Esittelyteksti Esittelyteksti Esittelyteksti Omakuva Omakuva Omakuva'
    'Esittelyteksti Esittelyteksti Esittelyteksti Omakuva Omakuva Omakuva'
    'Esittelyteksti Esittelyteksti Esittelyteksti yhteystiedot yhteystiedot yhteystiedot'
    'Esittelyteksti Esittelyteksti Esittelyteksti yhteystiedot yhteystiedot yhteystiedot'
    'Esittelyteksti Esittelyteksti Esittelyteksti yhteystiedot yhteystiedot yhteystiedot'
    'footer footer footer footer footer footer';
    border-style: solid;
}

.header {
    grid-area: header;
    height: 20vh; /* Muutettu mobiiliystävälliseksi */
}

.taustakuva {
    width: 100%;
    height: 20vh; /* Muutettu mobiiliystävälliseksi */
    background-size: cover;
}

.Navi {
    background-color: #faeed1;
    position: sticky;
    top: 0;
    grid-area: Navi;
    border-bottom: solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Muutettu mobiiliystävälliseksi */
}

.Navi ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.Navi ul li {
    display: inline-block; /* Muutettu mobiiliystävälliseksi */
    margin: 0 5px; /* Lisätty mobiiliystävällisyyden parantamiseksi */
}

.Navi li a {
    display: block; /* Muutettu mobiiliystävälliseksi */
    padding: 10px; /* Lisätty mobiiliystävällisyyden parantamiseksi */
    text-decoration: none;
    font-family: tahoma;
    color: black;
}

.Esittelyteksti {
    border-style: solid;
    grid-area: Esittelyteksti;
    margin: 7px;
    font-family: tahoma;
    font-size: 14px; /* Muutettu mobiiliystävälliseksi */
    padding: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Muutettu mobiiliystävälliseksi */
}

.Omakuva {
    border-style: solid;
    grid-area: Omakuva;
    margin: 7px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Muutettu mobiiliystävälliseksi */
}

.Omakuva img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.yhteystiedot {
    border-style: solid;
    grid-area: yhteystiedot;
    margin: 7px;
    padding: 7px;
    font-family: tahoma;
    font-size: 12px; /* Muutettu mobiiliystävälliseksi */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Muutettu mobiiliystävälliseksi */
}

.yhteystiedot p {
    word-wrap: break-word;
}

.yhteystiedot a:visited {
    color: black;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background-color: #bbab8c;
    border-style: solid;
    margin: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Muutettu mobiiliystävälliseksi */
}